body, html{
	margin: 0;
	padding: 0;
}
.button{
	width: 50px;
	height: 40px;
	background: #333;
	color: #fff;
	cursor: pointer;
}
	.red{
	background: #ff00ff;
	color: #fff;
	display: block;
	margin: 15px;
	border-left: 2px solid #000; 
}

.menu{
	position: absolute;
	width: 200px;
	height: 100%;
	left: 0px;
	top: 0;
	bottom: 0;
	display: none;
	background: #333;
}

.menu a{
	color: #ccc;
	display: block;
	text-decoration: none;
	padding: 15px;

	
}

#container{
	width: 100%;
	background: #ddd;
	text-align: center;
	padding: 15% 0;
	min-height: 500px;
}